<h5 class="text-primary">€ {{ page.price }} EUR</h5>
<div class="d-flex align-items-center">
  <button
    class="btn btn-primary add-to-cart"
    data-id="{{ page.identifier }}"
    data-name="{{ page.name }}"
    data-price="{{ page.price }}"
    data-image="{{ page.image }}"
    data-location="product"
    data-description="{{ page.content | remove: '<p>' | remove: '</p>' }}">
    Add to cart
  </button>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelector('.add-to-cart').addEventListener('click', function() {
      var button = this;
      window.dataLayer = window.dataLayer || [];
      window.dataLayer.push({
        'event': 'add_to_cart',
        'product_id': '{{ page.identifier }}',
        'product_name': '{{ page.name }}',
        'product_price': {{ page.price }},
      });
    });
  });
</script>
